<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app="hostsManagerController">
<head th:include="fragment/header :: head"></head>

<body ng-controller="HostsManagerCtrl">
	<nav th:include="fragment/header::nav" class="navbar navbar-inverse"
		role="navigation"></nav>
	<section>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" th:inline="text">
					<a th:href="@{/}">hosts管理</a>-->[[${owner}]]
				</h3>
				<input id="server" type="hidden" th:value="${owner}"></input>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="list-group">
							<div class="list-group-item" th:each="hosts : ${hostsList}"
								th:if="${not #lists.isEmpty(hostsList)}" th:inline="text">
								[[${hosts}]] <span id="changehosts"
									class="badge  pull-right item-hover"
									ng-click="changeHosts(hosts);">切换至该hosts</span> <a
									id="deletehosts"
									class=" badge  pull-right item-hover"
									th:href="@{/hosts/deleteHosts.do(owner=${owner}, hosts=${hosts})}">删除hosts</a>
								<a id="edithosts"
									th:href="@{/hosts/addHosts(owner=${owner}, hosts=${hosts})}"
									class=" badge  pull-right item-hover">编辑hosts</a>

							</div>
							<div class="list-group-item alert-info"
								th:if="${not #lists.isEmpty(hostsList)}">
								<a class="item-hover center"
									th:href="@{/hosts/addHosts(owner=${owner})}">增加hosts</a> &nbsp;
								<span class="item-hover center" data-toggle="modal"
									data-target="#hosts-copy" ng-click="getServers();">拷贝公有的hosts</span>
							</div>
						</div>

						<div id="none-hosts" th:if="${#lists.isEmpty(hostsList)}">
							当前服务器没有可用的hosts列表.
							<ul>
								<li><span class="item-hover"
									ng-click="copyHost($event.target);" data-toggle="modal"
									data-target="#hosts-copy" ng-click="getServers();"
									id="copy-button">拷贝公有的hosts</span></li>
								<li><a class="item-hover"
									th:href="@{/hosts/addHosts(owner=${owner})}">增加自己的hosts</a></li>
							</ul>
						</div>

						<!-- Modal -->
						<div class="modal fade" id="hosts-copy" role="dialog"
							aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
										</button>
										<h4 class="modal-title" id="myModalLabel">拷贝hosts</h4>
									</div>
									<div class="modal-body">
										<form method="post"
											th:action="@{hosts/copyHosts.do(owner=${owner})}" name="cphosts">
											<!-- Single button -->
											<div class="btn-group">
												<!-- 										  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
										    服务器列表 <span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu" role="menu" id="servers-list">
										    <li ng-repeat="server in servers"><a href="#">{{server}}</a></li>
										    <li class="divider"></li>
										    <li><a href="#">Separated link</a></li>
										  </ul> -->

												<select name="server" class="btn btn-success"
													ng-model="selected"
													onchange="javascript:angular.element('body').scope().getOnesHostsList(this.value);">
													<option ng-value="server" ng-repeat="server in servers">{{server}}</option>
												</select> <span class="btn" for="servers-list">请选择一个服务器</span>
											</div>

											<div id="hosts-list">
												<ul class="list">
													<li ng-repeat="hosts in hostsList">
<!-- 														<input type="checkbox" ng-value="hosts" name="hosts"
														id="hosts"> 
														<label for="hosts">{{hosts}}</label>  -->
														<label class="checkbox" > 
															<input
															type="checkbox" checked="checked" ng-value="hosts"  name="hosts"
														id="hosts" 	data-toggle="checkbox" class="custom-checkbox"><span
															class="icons"><span class="icon-unchecked"></span><span
																class="icon-checked"></span></span> {{hosts}}
													</label>
													</li>
												</ul>
											</div>

<!-- 											<button type="submit" class="btn btn-primary btn-sm"  ng-show="hostsList">拷贝所选hosts</button> -->
										</form>


									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default btn-sm"
											data-dismiss="modal">关闭</button>
											<button class="btn btn-primary btn-sm"  ng-show="hostsList" onclick="cphosts.submit();">拷贝所选hosts</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</section>
	<script src="assets/lib/angular/angular.min.js"></script>
	<script src="assets/public/js/hostsmanagerController.js"></script>
	<script th:src="@{/assets/lib/flatui/dist/js/flat-ui.min.js}"></script>
	<script>
	$(function() {
		$('#hosts-copy').modal({"show": false}});
		$("#copy-button").on("click", function() {
			$('#hosts-copy').modal('show');
		});
		
	});
	</script>
</body>
</html>