<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app>
<head th:include="fragment/header :: head"></head>

<body ng-controller="hostsAddController">
<nav th:include="fragment/header::nav" class="navbar navbar-inverse" role="navigation"></nav>
	<section>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" th:inline="text">
					<a th:href="@{/}">hosts管理</a>-><a class="item-hover"
						th:href="@{/hosts/hostsManager(owner=${owner})}">[[${owner}]]</a>->增加hosts
				</h3>
				<!-- 	<input id="server" type="hidden" th:value="${owner}"></input> -->
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<form class="form-horizontal" role="form"
							th:action="@{/hosts/createHosts.do}" method="post"
							th:object="${hostsContent}">
							<div class="form-group">
								<label for="hosts-name" class="col-sm-2 control-label">hosts名称</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="hosts-name"
										name="hostsName" placeholder="请填写hosts名称" th:value="${hosts}"
										th:disabled="${!#strings.isEmpty(hosts)}"  ng-model="hosts-name"></input> 
										<input
										type="hidden" class="form-control" id="hidden-hosts-name"
										name="hostsName" placeholder="请填写hosts名称" th:value="${hosts}"
										th:if="${!#strings.isEmpty(hosts)}" ng-model="hosts-name"></input>
								</div>
							</div>
							<div class="form-group">
								<label for="hosts-content" class="col-sm-2 control-label">hosts内容</label>
								<div class="col-sm-10">
									<textarea class="form-control" rows="10" id="hosts-content"
										name="hostsContent" placeholder="hosts内容" th:inline="text" ng-model="content">[[${content}]]</textarea>
								</div>
							
								<input type="hidden" th:value="${owner}" id="hosts-owner"
									name="hostsOwner" ></input>
							</div>
							<!-- 							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<div class="checkbox">
										<label> <input type="checkbox"></input> Remember me
										</label>
									</div>
								</div>
							</div> -->
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-info" ng-disabled="(hosts-name == '' || hosts-name == null) && (content == null || content == '') ">创建</button>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</section>
	<script src="assets/lib/angular/angular.min.js"></script>


</body>
</html>