<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app="hostsChangeController">
<head th:include="fragment/header :: head"></head>

<body ng-controller="HostsChangeCtrl">
	<nav th:include="fragment/header::nav" class="navbar navbar-inverse" role="navigation"></nav>
	<section>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">服务器hosts管理</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<div class="list-group">
							<a class="list-group-item item-hover"
								th:each="server : ${servers}" th:text="${server}"
								th:href="@{/hosts/hostsManager.do(owner=${server})}"></a>
						</div>

					</div>

				</div>
			</div>
		</div>


	</section>
	<script src="assets/lib/angular/angular.min.js"></script>
	<script src="assets/public/js/hostschangeController.js"></script>
</body>
</html>