<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app="sqlController">
<head th:include="fragment/header :: head"></head>

<body ng-controller="sqlCtrl">
<nav th:include="fragment/header::nav" class="navbar navbar-inverse" role="navigation"></nav>
	<section>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" th:inline="text">
					<span class="fui-checkbox-checked"></span>选择服务器执行sql
				</h3>
				<!-- 	<input id="server" type="hidden" th:value="${owner}"></input> -->
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
							<div class="form-group">
									<label class="checkbox"  th:each="server : ${servers}" th:inline="text" th:if="${server} != 'public'">
            							<input type="checkbox"     th:value="${server}" name="servers" data-toggle="checkbox" class="custom-checkbox" ><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            							[[${server}]]
            						</label>
							</div>
						<div class="form-group " >
		            			<textarea name="sql"  placeholder="请粘贴sql语句" class="form-control col-md-4" ng-model="sql" rows=7></textarea>
		          		</div>
						
	
							<span class="btn btn-danger" style="margin-top:20px;"  ng-disabled="sql==null || sql==''"  ng-click="executeSql();">执行sql</span>
						
									
									
					</div>

				</div>
			</div>
		</div>
	</section>
	<script src="assets/lib/angular/angular.min.js"></script>
	<script th:src="@{/assets/public/js/sqlController.js}"></script>


</body>
</html>